
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Upload';
    display: flex;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    font-weight: 700;
    font-size: 10pt;
    color: black;
}

.custom-file-input:hover::before {
    border-color: black;
}

.edit-profile-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
}

#new-profile-image {
    margin-bottom: 20px;
}