#main-profile-display
  width: 150px
  height: 300px
  position: -webkit-sticky
  position: sticky
  top: 200px

@media screen and (min-width: 735px)
  #main-profile-display
    opacity: 1
    pointer-events: all

