.post
  background: #202124
  border-radius: 3px
  margin-top: 50px
  border: 1px solid #3c4043
  width: 550px
  height: 750px
  overflow: hidden

.post-image
  width: 550px
  height: auto

.post-nav
  width: 100%
  height: 60px
  display: flex

.post-nav div
  margin-left: 10px
  margin-right: 10px

.post-profile-pic
  width: 5px
  height: 25px

@media only screen and (min-width: 600px)
